body {
    overflow-x: hidden;
    position: relative;
}

.bg_header {
	height: 92vh;
	width: 100vw;
}

.bg_benefit {
    z-index: -1;
	width: 100vw;
    height: 100vh;
}

.parallax_scroll {
	background: transparent;
	background-size: cover;
}

.navbar.navbar-inverse {
	border-radius: 0px;
	margin-bottom: 0;
}

/*.logo {
	z-index: 1;
}*/

.nav.navbar-nav.navbar-right {
	margin-top: 1px;
}

.nav.navbar-nav.navbar-right {
	text-align: right;
}
