body {
    overflow-x: hidden;
    position: relative;
}

.bg_header {
	height: 92vh;
	width: 100vw;
}

.bg_benefit {
    z-index: -1;
	width: 100vw;
    height: 100vh;
}

.parallax_scroll {
	background: transparent;
	background-size: cover;
}

.navbar.navbar-inverse {
	border-radius: 0px;
	margin-bottom: 0;
}

.nav.navbar-nav.navbar-right {
	margin-top: 1px;
}

.nav.navbar-nav.navbar-right {
	text-align: right;
}

.logo {
	max-width: 137px;
	min-width: 100px;
    width: 10vw;
    /*margin: 20px 0px 0 39px;*/
    position: relative;
    left: 39px;
    top: 20px;
}

.z_index01 {
	z-index: 1;
}

.jumbotron {
	background: transparent;
}

.header_jumbotron {
	text-align: right;
}

.navbar-brand {
	padding-right: 0;
}